/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a {
  color: inherit;
  text-decoration: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.nav, .contact {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.panel__btn, .nav__link:before, .nav__link__name, .nav__link__img, .carousel, .carousel__item, .carousel__img, .carousel__full, .carousel__viewer, .carousel__close {
  transition: all 0.25s ease; }

.panel {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease; }

.nav, .contact, .main, .carousel__slider, .carousel__btn, .carousel__viewer__slider {
  transition: all 0.35s ease; }

/* @font-face */
@font-face {
  font-family: 'grumpy';
  src: url("../fonts/grumpy.eot");
  src: url("../fonts/grumpy.eot?#iefix") format("embedded-opentype"), url("../fonts/grumpy.woff2") format("woff2"), url("../fonts/grumpy.woff") format("woff"), url("../fonts/grumpy.ttf") format("truetype"), url("../fonts/grumpy.svg#grumpy") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'patronlight';
  src: url("../fonts/patron-light-webfont.eot");
  src: url("../fonts/patron-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/patron-light-webfont.woff2") format("woff2"), url("../fonts/patron-light-webfont.woff") format("woff"), url("../fonts/patron-light-webfont.ttf") format("truetype"), url("../fonts/patron-light-webfont.svg#patronlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'patronregular';
  src: url("../fonts/patron-regular-webfont.eot");
  src: url("../fonts/patron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/patron-regular-webfont.woff2") format("woff2"), url("../fonts/patron-regular-webfont.woff") format("woff"), url("../fonts/patron-regular-webfont.ttf") format("truetype"), url("../fonts/patron-regular-webfont.svg#patronregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Extends for font-family */
.heading-2, .panel__btn__label--lrg, .nav__link__name {
  font-family: "grumpy", Serif; }

.contact__txt, .carousel__txt {
  font-family: "patronlight", Arial, sans-serif; }

body {
  font-family: "patronregular", Arial, sans-serif; }

/* Titles */
.heading-1 {
  font-size: 28px; }

.heading-2 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 3px; }

/* Grid layout */
[class*="cell-"] {
  float: left; }

.cell-1 {
  width: 2.77778vw; }

.cell-2 {
  width: 5.55556vw; }

.cell-3 {
  width: 8.33333vw; }

.cell-4 {
  width: 11.11111vw; }

.cell-5 {
  width: 13.88889vw; }

.cell-6 {
  width: 16.66667vw; }

.cell-7 {
  width: 19.44444vw; }

.cell-8 {
  width: 22.22222vw; }

.cell-9 {
  width: 25vw; }

.cell-10 {
  width: 27.77778vw; }

.cell-11 {
  width: 30.55556vw; }

.cell-12 {
  width: 33.33333vw; }

.cell-13 {
  width: 36.11111vw; }

.cell-14 {
  width: 38.88889vw; }

.cell-15 {
  width: 41.66667vw; }

.cell-16 {
  width: 44.44444vw; }

.cell-17 {
  width: 47.22222vw; }

.cell-18 {
  width: 50vw; }

.cell-19 {
  width: 52.77778vw; }

.cell-20 {
  width: 55.55556vw; }

.cell-21 {
  width: 58.33333vw; }

.cell-22 {
  width: 61.11111vw; }

.cell-23 {
  width: 63.88889vw; }

.cell-24 {
  width: 66.66667vw; }

.cell-25 {
  width: 69.44444vw; }

.cell-26 {
  width: 72.22222vw; }

.cell-27 {
  width: 75vw; }

.cell-28 {
  width: 77.77778vw; }

.cell-29 {
  width: 80.55556vw; }

.cell-30 {
  width: 83.33333vw; }

.cell-31 {
  width: 86.11111vw; }

.cell-32 {
  width: 88.88889vw; }

.cell-33 {
  width: 91.66667vw; }

.cell-34 {
  width: 94.44444vw; }

.cell-35 {
  width: 97.22222vw; }

.cell-36 {
  width: 100vw; }

.prepend-1 {
  margin-left: 2.77778vw; }

.prepend-2 {
  margin-left: 5.55556vw; }

.prepend-3 {
  margin-left: 8.33333vw; }

.prepend-4 {
  margin-left: 11.11111vw; }

.prepend-5 {
  margin-left: 13.88889vw; }

.prepend-6 {
  margin-left: 16.66667vw; }

.prepend-7 {
  margin-left: 19.44444vw; }

.prepend-8 {
  margin-left: 22.22222vw; }

.prepend-9 {
  margin-left: 25vw; }

.prepend-10 {
  margin-left: 27.77778vw; }

.prepend-11 {
  margin-left: 30.55556vw; }

.prepend-12 {
  margin-left: 33.33333vw; }

.prepend-13 {
  margin-left: 36.11111vw; }

.prepend-14 {
  margin-left: 38.88889vw; }

.prepend-15 {
  margin-left: 41.66667vw; }

.prepend-16 {
  margin-left: 44.44444vw; }

.prepend-17 {
  margin-left: 47.22222vw; }

.prepend-18 {
  margin-left: 50vw; }

.prepend-19 {
  margin-left: 52.77778vw; }

.prepend-20 {
  margin-left: 55.55556vw; }

.prepend-21 {
  margin-left: 58.33333vw; }

.prepend-22 {
  margin-left: 61.11111vw; }

.prepend-23 {
  margin-left: 63.88889vw; }

.prepend-24 {
  margin-left: 66.66667vw; }

.prepend-25 {
  margin-left: 69.44444vw; }

.prepend-26 {
  margin-left: 72.22222vw; }

.prepend-27 {
  margin-left: 75vw; }

.prepend-28 {
  margin-left: 77.77778vw; }

.prepend-29 {
  margin-left: 80.55556vw; }

.prepend-30 {
  margin-left: 83.33333vw; }

.prepend-31 {
  margin-left: 86.11111vw; }

.prepend-32 {
  margin-left: 88.88889vw; }

.prepend-33 {
  margin-left: 91.66667vw; }

.prepend-34 {
  margin-left: 94.44444vw; }

.prepend-35 {
  margin-left: 97.22222vw; }

.prepend-36 {
  margin-left: 100vw; }

.append-1 {
  margin-right: 2.77778vw; }

.append-2 {
  margin-right: 5.55556vw; }

.append-3 {
  margin-right: 8.33333vw; }

.append-4 {
  margin-right: 11.11111vw; }

.append-5 {
  margin-right: 13.88889vw; }

.append-6 {
  margin-right: 16.66667vw; }

.append-7 {
  margin-right: 19.44444vw; }

.append-8 {
  margin-right: 22.22222vw; }

.append-9 {
  margin-right: 25vw; }

.append-10 {
  margin-right: 27.77778vw; }

.append-11 {
  margin-right: 30.55556vw; }

.append-12 {
  margin-right: 33.33333vw; }

.append-13 {
  margin-right: 36.11111vw; }

.append-14 {
  margin-right: 38.88889vw; }

.append-15 {
  margin-right: 41.66667vw; }

.append-16 {
  margin-right: 44.44444vw; }

.append-17 {
  margin-right: 47.22222vw; }

.append-18 {
  margin-right: 50vw; }

.append-19 {
  margin-right: 52.77778vw; }

.append-20 {
  margin-right: 55.55556vw; }

.append-21 {
  margin-right: 58.33333vw; }

.append-22 {
  margin-right: 61.11111vw; }

.append-23 {
  margin-right: 63.88889vw; }

.append-24 {
  margin-right: 66.66667vw; }

.append-25 {
  margin-right: 69.44444vw; }

.append-26 {
  margin-right: 72.22222vw; }

.append-27 {
  margin-right: 75vw; }

.append-28 {
  margin-right: 77.77778vw; }

.append-29 {
  margin-right: 80.55556vw; }

.append-30 {
  margin-right: 83.33333vw; }

.append-31 {
  margin-right: 86.11111vw; }

.append-32 {
  margin-right: 88.88889vw; }

.append-33 {
  margin-right: 91.66667vw; }

.append-34 {
  margin-right: 94.44444vw; }

.append-35 {
  margin-right: 97.22222vw; }

.append-36 {
  margin-right: 100vw; }

/* Special style for grid dev */
.grid--dev {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  pointer-events: none; }
  .grid--dev [class*="cell-"] {
    float: left;
    height: 100%; }
  .grid--dev .cell-1 {
    position: relative; }
    .grid--dev .cell-1:after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      display: block;
      width: 1px;
      height: 100%;
      background-color: #4affff; }

/* Helpers */
.trailer-25 {
  margin-bottom: 25px; }

.panel {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }
  .panel__cover {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .panel__btn {
    position: absolute;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    /* Modifiers */ }
    .panel__btn__label {
      position: relative;
      top: 50%;
      display: inline-block;
      vertical-align: middle;
      padding: 30px 0;
      text-align: center;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .panel__btn__label--left {
        position: absolute;
        left: 8.33333vw; }
      .panel__btn__label--right {
        position: absolute;
        right: 8.33333vw; }
      .panel__btn__label--lrg {
        font-size: 28px; }
    .panel__btn--top, .panel__btn--bottom {
      left: 0;
      width: 100%;
      height: 8.33333vw; }
    .panel__btn--top {
      top: 0; }
    .panel__btn--bottom {
      bottom: 0; }
    .panel__btn--left, .panel__btn--right {
      bottom: 0;
      width: 100vh;
      height: 8.33333vw; }
    .panel__btn--left {
      left: 8.33333vw;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transform-origin: left bottom;
              transform-origin: left bottom; }
    .panel__btn--right {
      right: 8.33333vw;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom; }
    .panel__btn--bordered:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 2px;
      height: 30px;
      margin-left: -1px;
      background-color: #000; }
    .panel__btn--bordered--top:after {
      top: 0;
      bottom: auto; }
  .panel--blue {
    background-color: #0f008a; }
  .panel--black {
    background-color: #000; }
    .panel--black .panel__container {
      color: #fff; }
  .panel--center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .panel--no-right {
    padding-right: 0; }
  .panel.is-active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .panel.is-top {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .panel.is-bottom {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 33.33333vw;
  height: 100vh;
  color: #fff;
  background-color: #202020;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: translateX(-33.33333vw);
          transform: translateX(-33.33333vw); }
  .nav__link {
    position: relative;
    display: block;
    padding: 55px 5.55556vw 0 5.55556vw; }
    .nav__link:before {
      content: "";
      position: absolute;
      top: 105px;
      right: 0;
      display: block;
      width: 2.77778vw;
      height: 2px;
      background-color: #fff;
      -webkit-transform: translateX(2.77778vw);
              transform: translateX(2.77778vw); }
    .nav__link__name {
      position: relative;
      display: block;
      font-size: 50px;
      line-height: 60px;
      color: #727272;
      z-index: 2 .nav__link__name; }
      .nav__link__name :after {
        content: "Toto";
        display: block;
        background-color: red; }
    .nav__link__jobtitle {
      display: block;
      margin: 10px 0 55px 0;
      color: #727272;
      letter-spacing: 1px; }
    .nav__link__img {
      position: absolute;
      top: 70px;
      right: 2.77778vw;
      display: block;
      max-width: 11.11111vw;
      max-height: 140px;
      pointer-events: none;
      opacity: 0; }
    .nav__link:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #2b2b2b; }
    .nav__link:hover .nav__link__name {
      color: #fff; }
    .nav__link:hover .nav__link__img {
      opacity: 1; }
    .nav__link.is-active:before {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .nav__link.is-active .nav__link__name {
      color: #fff; }

.is-nav-open .main {
  -webkit-transform: translateX(33.33333vw);
          transform: translateX(33.33333vw); }

.is-nav-open .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

/* Popin contact */
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  color: #fff;
  background-color: #000;
  opacity: 0;
  pointer-events: none; }
  .contact .panel {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .contact__txt {
    font-size: 16px;
    line-height: 24px; }
    .contact__txt__label {
      display: inline-block;
      margin-right: 14px; }
  .contact .contact__txt + .contact__txt {
    margin-top: 15px; }
  .contact .contact__bloc + .contact__bloc {
    margin-top: 55px; }
  .contact__label {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #727272;
    border-bottom: 1px solid #2b2b2b; }
  .contact__close {
    position: absolute;
    top: 50px;
    right: 2.77778vw;
    display: block;
    color: #727272; }
    .contact__close__icon {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-left: 40px;
      background-color: #fff; }
      .contact__close__icon .icon {
        position: relative;
        top: 10px;
        display: block;
        margin: 0 auto; }

/* When contact is open */
.is-contact-open .contact {
  opacity: 1;
  pointer-events: auto; }

body {
  font-size: 16px;
  overflow: hidden; }

.icon-arrow-left {
  width: 40px;
  height: 12px;
  fill: #fff; }

.icon-arrow-right {
  width: 40px;
  height: 12px;
  fill: #fff; }

.icon-close {
  width: 20px;
  height: 20px; }

.icon-text {
  width: 30px;
  height: 39px; }

.icon-full {
  width: 20px;
  height: 20px; }

.carousel {
  position: relative; }
  .carousel__slider {
    width: 100000px; }
  .carousel__item {
    display: table-cell;
    vertical-align: middle;
    padding-right: 2.77778vw; }
    .carousel__item__container {
      position: relative; }
    .carousel__item--text {
      max-width: 22.22222vw; }
  .carousel__img {
    display: block;
    max-width: 72.22222vw; }
  .carousel__btn {
    position: absolute;
    top: 0;
    display: block;
    width: 5.55556vw;
    height: 100%;
    padding: 0;
    background: none;
    border: none;
    outline: none; }
    .carousel__btn .icon {
      display: block; }
    .carousel__btn--prev {
      left: 8.33333vw;
      padding-left: 2.77778vw;
      cursor: url(../icons/arrow-left.svg), auto; }
    .carousel__btn--next {
      right: 0;
      padding-right: 2.77778vw;
      cursor: url(../icons/arrow-right.svg), auto; }
      .carousel__btn--next .icon {
        margin: 0 0 0 auto; }
    .carousel__btn.is-fade {
      opacity: 0;
      pointer-events: none; }
  .carousel__jobtitle {
    display: block;
    margin: 10px 0 20px 0;
    color: #727272;
    letter-spacing: 1px; }
  .carousel__txt {
    display: block;
    line-height: 24px; }
  .carousel__full {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff; }
    .carousel__full .icon {
      position: relative;
      top: 10px;
      display: block;
      margin: 0 auto; }
  .carousel__viewer {
    position: absolute;
    bottom: 11.11111vw;
    left: 44.44444vw;
    height: 80px;
    width: 100000px;
    margin-left: -1.38889vw;
    padding: 20px; }
    .carousel__viewer__rectangle {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 13.88889vw;
      height: 80px;
      border: 2px solid #fff; }
      .carousel__viewer__rectangle:before, .carousel__viewer__rectangle:after {
        content: "";
        position: absolute;
        top: -2px;
        width: 100vw;
        height: calc(100% + 4px);
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2; }
      .carousel__viewer__rectangle:before {
        right: calc(100% + 2px); }
      .carousel__viewer__rectangle:after {
        left: calc(100% + 2px); }
    .carousel__viewer__item {
      display: table-cell;
      padding-right: 10px;
      -webkit-backface-visibility: hidden; }
    .carousel__viewer__img {
      max-height: 40px; }
  .carousel__close {
    position: absolute;
    top: 50px;
    right: 40px;
    color: #727272;
    z-index: 4;
    opacity: 0; }
    .carousel__close__btn {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-left: 36px;
      background-color: #fff; }
      .carousel__close__btn .icon {
        position: relative;
        top: 10px;
        display: block;
        margin: 0 auto; }

/* When carousel is in full-screen mode. */
.is-carousel-full .panel.is-active .panel__btn--left {
  -webkit-transform: rotate(-90deg) translateY(-100%);
          transform: rotate(-90deg) translateY(-100%); }

.is-carousel-full .panel.is-active .panel__btn--top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.is-carousel-full .panel.is-active .panel__btn--bottom {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.is-carousel-full .carousel {
  margin-left: -5.55556vw; }

.is-carousel-full .carousel__item {
  opacity: 0.25; }
  .is-carousel-full .carousel__item.is-active {
    opacity: 1; }
    .is-carousel-full .carousel__item.is-active .carousel__img {
      max-width: 83.33333vw; }

.is-carousel-full .carousel__viewer {
  bottom: 40px;
  left: 44.44444vw; }

.is-carousel-full .carousel__full {
  opacity: 0;
  pointer-events: none; }

.is-carousel-full .carousel__close {
  opacity: 1; }

.is-carousel-full .carousel__btn {
  pointer-events: none; }
