/* Grid layout */
$cols: 32;

$navW: 11 / $cols * 100;
$navWLrg: 8 / $cols * 100;

$marieLouiseW: 3 / $cols * 100;
$marieLouiseWSml: 2 / $cols * 100;

.grid {
	clear: both;
}

.grid--overflow {
	overflow: hidden;
}

[class*="cell-"] {
	float: left;
}

@for $i from 1 through $cols {
    .cell-#{$i} {
        width: #{$i / $cols * 100}vw;
    }
}

@for $i from 1 through $cols {
    .prepend-#{$i} {
        margin-left: #{$i / $cols * 100}vw;
    }
}

@for $i from 1 through $cols {
    .append-#{$i} {
        margin-right: #{$i / $cols * 100}vw;
    }
}

@include tablet-portrait {
	[class*="cell-"] {
		float: none;
	}

	@for $i from 1 through $cols {
	    .cell-#{$i} {
	        width: 100%;
	    }
	}

	@for $i from 1 through $cols {
	    .prepend-#{$i} {
	        margin-left: 0;
	    }
	}
}

/* Special style for grid dev */

.grid--dev {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	pointer-events: none;

	[class*="cell-"] {
		float: left;
		height: 100%;
	}

	.cell-1 {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: -1px;
			display: block;
			width: 1px;
			height: 100%;
			background-color: #4affff;
		}
	}
}