// Colors

$color-white: #fff;
$color-black: #000;
$color-brand: #0f008a;
$color-brand-light: #33269b;
$color-dark: #202020;
$color-dark-light: #373737;

$color-grey: #727272;

$color-border: #2b2b2b;

// Transitions.
$transition-quick: 0.35s;