// Navigation.

.nav {
	@extend %antialiased;
	@extend %transitionEase;
	position: fixed;
	top: 0;
	left: 0;
	width: #{$navW}vw;
	height: 100vh;
	color: $color-white;
	background-color: $color-dark;
	z-index: 2;
	overflow: hidden;
	transform: translateX(#{-$navW}vw);

	&__link {
		position: relative;
		display: block;
		padding: 55px (2 / $cols * 100vw) 0 (2 / $cols * 100vw);

		&:before {
			@extend %transitionLinks;
			content: "";
			position: absolute;
			top: 105px;
			right: 0;
			display: block;
			width: 1 / $cols * 100vw;
			height: 2px;
			background-color: $color-white;
			transform: translateX(1 / $cols * 100vw);
		}

		&__name {
			@extend %grumpy;
			@extend %transitionLinks;
			position: relative;
			display: block;
			font-size: 50px;
			line-height: 60px;
			color: $color-grey;
			z-index: 2

			&:after {
				content: "Toto";
				display: block;
				background-color: red;
			}
		}

		&__jobtitle {
			display: block;
			margin: 10px 0 55px 0;
			color: $color-grey;
			letter-spacing: 1px;
		}

		&__img {
			@extend %transitionLinks;
			position: absolute;
			top: 70px;
			right: 1 / $cols * 100vw;
			display: block;
			max-width: 4 / $cols * 100vw;
			max-height: 140px;
			pointer-events: none;
			opacity: 0;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: $color-border;
		}

		&:hover {
			.nav__link__name {
				color: $color-white;
			}

			.nav__link__img {
				opacity: 1;
			}
		}

		&.is-active {
			&:before {
				transform: translateX(0);
			}

			.nav__link__name {
				color: $color-white;
			}
		}
	}
}


// When nav is open.

.is-nav-open {
	.main {
		transform: translateX(#{$navW}vw);
	}

	.nav {
		transform: translateX(0);
	}
}