// Navigation.

.nav {
	@extend %antialiased;
	@extend %transitionEase;
	position: fixed;
	top: 0;
	left: 0;
	width: #{$navW}vw;
	height: 100vh;
	color: $color-white;
	background-color: $color-dark;
	z-index: 2;
	overflow: hidden;
	transform: translateX(#{-$navW}vw);

	&__link {
		display: block;
		padding: 55px 80px 0 80px;

		&__name {
			@extend %grumpy;
			@extend %transitionLinks;
			position: relative;
			display: block;
			font-size: 50px;
			line-height: 60px;
			color: $color-grey;

			&:after {
				@extend %transitionLinks;
				content: "";
				position: absolute;
				top: 70px;
				right: -120px;
				display: block;
				width: 40px;
				height: 2px;
				background-color: $color-white;
			}
		}

		&__jobtitle {
			display: block;
			margin: 10px 0 55px 0;
			color: $color-grey;
			letter-spacing: 1px;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: $color-border;
		}

		&:hover {
			.nav__link__name {
				color: $color-white;

				&:after {
					right: -80px;
				}
			}
		}
	}
}


// When nav is open.

.is-nav-open {
	.main {
		transform: translateX(#{$navW}vw);
	}

	.nav {
		transform: translateX(0);
	}
}