// Panels.

.panel {
	@extend %transitionPanels;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	transform: translateY(-100%);

	&__cover {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	&__btn {
		@extend %transitionLinks;
		position: absolute;
		display: block;
		font-size: 16px;
		letter-spacing: 1px;
		text-align: center;
		background-color: $color-white;
		z-index: 5;

		&__label {
			@extend %antialiased;
			position: relative;
			top: 50%;
			display: inline-block;
			vertical-align: middle;
			padding: 30px 0;
			text-align: center;
			transform: translateY(-50%);

			&--left {
				position: absolute;
				left: #{$marieLouiseW}vw;
			}

			&--right {
				position: absolute;
				right: #{$marieLouiseW}vw;
			}

			&--lrg {
				@extend %grumpy;
				font-size: 28px;
			}
		}

		&--top,
		&--bottom {
			left: 0;
			width: 100%;
			height: #{$marieLouiseW}vw;
		}

		&--top {
			top: 0;
		}

		&--bottom {
			bottom: 0;
		}

		&--left,
		&--right {
			bottom: 0;
			width: 100vh;
			height: #{$marieLouiseW}vw;
		}

		&--left {
			left: #{$marieLouiseW}vw;
			transform: rotate(-90deg);
			transform-origin: left bottom;
		}

		&--right {
			right: #{$marieLouiseW}vw;
			transform: rotate(90deg);
			transform-origin: right bottom;
		}

		/* Modifiers */

		&--bordered {
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				display: block;
				width: 2px;
				height: 30px;
				margin-left: -1px;
				background-color: $color-black;
			}

			&--top {
				&:after {
					top: 0;
					bottom: auto;
				}
			}
		}
	}

	&--blue {
		background-color: $color-brand;
	}

	&--black {
		background-color: $color-black;

		.panel__container {
			color: $color-white;
		}
	}

	&--center {
		justify-content: center;
	}

	// Special classes for animation.

	&.is-active {
		transform: translateY(0);	
	}

	&.is-top {
		transform: translateY(-100%);
	}

	&.is-bottom {
		transform: translateY(100%);
	}
}