// Carousel.

.carousel {
	position: relative;

	&__slider {
		@extend %transitionEase;
		width: 100000px;
	}

	&__item {
		@extend %transitionLinks;
		display: table-cell;
		vertical-align: middle;
		padding-right: 1 / 36 * 100vw;

		&__container {
			position: relative;
		}

		&--text {
			max-width: 7 / 36 * 100vw;
		}
	}

	&__img {
		@extend %transitionLinks;
		display: block;
		max-width: 26 / 36 * 100vw;
		box-shadow: 0px 0px 0px 2px $color-white;
	}

	&__btn {
		@extend %transitionEase;
		position: absolute;
		top: 0;
		display: block;
		width: 2 / 36 * 100vw;
		height: 100%;
		padding: 0;
		background: none;
		border: none;
		outline: none;

		.icon {
			display: block;
		}

		&--prev {
			left: 3 / 36 * 100vw;
			padding-left: 1 / 36 * 100vw;
			cursor: url(../icons/arrow-left.svg), auto;
		}

		&--next {
			right: 0;
			padding-right: 1 / 36 * 100vw;
			cursor: url(../icons/arrow-right.svg), auto;

			.icon {
				margin: 0 0 0 auto;
			}
		}

		&.is-fade {
			opacity: 0;
			pointer-events: none;
		}
	}

	&__jobtitle {
		display: block;
		margin: 10px 0 20px 0;
		color: $color-grey;
		letter-spacing: 1px;
	}

	&__txt {
		@extend %patronLight;
		display: block;
		line-height: 24px;
	}

	&__full {
		@extend %transitionLinks;
		position: absolute;
		right: 10px;
		bottom: 10px;
		display: block;
		width: 40px;
		height: 40px;
		background-color: $color-white;

		.icon {
			position: relative;
			top: 10px;
			display: block;
			margin: 0 auto;
		}
	}

	&__viewer {
		@extend %transitionLinks;
		position: absolute;
		bottom: 4 / 36 * 100vw;
		left: 16 / 36 * 100vw;
		height: 80px;
		width: 100000px;
		margin-left: -0.5 / 36 * 100vw;
		padding: 20px;

		&__slider {
			@extend %transitionEase;
		}

		&__rectangle {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 5 / 36 * 100vw;
			height: 80px;
			border: 2px solid $color-white;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: -2px;
				width: 100vw;
				height: calc(100% + 4px);
				display: block;
				background-color: rgba(0,0,0,0.8);
				z-index: 2;
			}

			&:before {
				right: calc(100% + 2px);
			}

			&:after {
				left: calc(100% + 2px);
			}
		}

		&__item {
			display: table-cell;
			padding-right: 10px;
		}

		&__img {
			max-height: 40px;
		}
	}

	&__close {
		@extend %transitionLinks;
		position: absolute;
		top: 50px;
		right: 40px;
		color: $color-grey;
		z-index: 20;
		opacity: 0;

		&__btn {
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			height: 40px;
			margin-left: 36px;
			background-color: $color-white;

			.icon {
				position: relative;
				top: 10px;
				display: block;
				margin: 0 auto;
			}
		}
	}
}


/* When carousel is in full-screen mode. */

.is-carousel-full {
	.panel__btn {
		&--left {
			transform: rotate(-90deg) translateY(-100%);
		}

		&--top {
			transform: translateY(-100%);
		}

		&--bottom {
			transform: translateY(100%);
		}
	}

	.panel__container {
		.cell-31 {
			margin-left: 3 / 36 * 100vw;
		}
	}

	.carousel__item {
		opacity: 0.25;

		&.is-active {
			opacity: 1;
		}
	}

	.carousel__img {
		max-width: 30 / 36 * 100vw;
	}

	.carousel__viewer {
		bottom: 40px;
		left: 16 / 36 * 100vw;
	}

	.carousel__full {
		opacity: 0;
		pointer-events: none;
	}

	.carousel__close {
		opacity: 1;
	}

	.carousel__btn {
		pointer-events: none;
	}
}
