// Carousel.

.carousel {
	@extend %transitionLinks;

	&__slider {
		@extend %transitionEase;
		width: 100000px;
	}

	&__item {
		@extend %transitionLinks;
		display: table-cell;
		vertical-align: middle;
		max-width: 24 / $cols * 100vw;
		padding-right: 1 / $cols * 100vw;

		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;

		&__container {
			position: relative;
		}

		&--text {
			width: 9 / $cols * 100vw !important;
		}

		&:hover {
			.carousel__full {
				opacity: 1;
			}
		}
	}

	&__img {
		@extend %transitionLinks;
		display: block;
		max-width: 100%;
		margin: 0 auto;
		max-height: 35vh;
	}

	&__video {
		position: relative;
		width: 12 / $cols * 100vw;
		padding-bottom: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__btn {
		@extend %transitionEase;
		position: absolute;
		top: 0;
		display: block;
		width: 2 / $cols * 100vw;
		height: 100%;
		padding: 0;
		background: none;
		border: none;
		outline: none;
		z-index: 3;

		&--prev {
			left: 3 / $cols * 100vw;
			padding-left: 1 / $cols * 100vw;
			cursor: url(../icons/arrow-left.svg), auto;
		}

		&--next {
			right: 0;
			padding-right: 1 / $cols * 100vw;
			cursor: url(../icons/arrow-right.svg), auto;

			.icon {
				margin: 0 0 0 auto;
			}
		}

		&.is-fade {
			opacity: 0;
			pointer-events: none;
		}
	}

	&__jobtitle {
		@extend %antialiased;
		display: block;
		margin: 10px 0 20px 0;
		color: $color-grey;
		letter-spacing: 1px;
	}

	&__txt {
		@extend %antialiased;
		@extend %patronLight;
		display: block;
		line-height: 24px;
	}

	&__full {
		@extend %transitionLinks;
		position: absolute;
		right: 10px;
		bottom: 10px;
		display: block;
		width: 40px;
		height: 40px;
		background-color: $color-white;
		opacity: 0;

		.icon {
			position: relative;
			top: 10px;
			display: block;
			margin: 0 auto;
		}
	}

	&__viewer {
		@extend %transitionLinks;
		position: absolute;
		bottom: 4 / $cols * 100vw;
		left: 14 / $cols * 100vw;
		height: 80px;
		width: 100000px;
		margin-left: -0.5 / $cols * 100vw;
		padding: 20px;

		&__slider {
			@extend %transitionEase;
		}

		&__rectangle {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 5 / $cols * 100vw;
			height: 80px;
			border: 2px solid $color-white;
			z-index: 2;
			pointer-events: none;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: -2px;
				width: 100vw;
				height: calc(100% + 4px);
				display: block;
				background-color: rgba(0,0,0,0.5);
				z-index: 2;
			}

			&:before {
				right: calc(100% + 2px);
			}

			&:after {
				left: calc(100% + 2px);
			}
		}

		&__item {
			display: table-cell;
			padding-right: 10px;
			cursor: pointer;
			-webkit-backface-visibility: hidden;
		}

		&__img {
			max-height: 40px;
		}
	}

	&__close {
		@extend %transitionLinks;
		position: absolute;
		top: 50px;
		right: 40px;
		color: $color-grey;
		z-index: 4;
		opacity: 0;

		&__btn {
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			height: 40px;
			margin-left: 36px;
			background-color: $color-white;

			.icon {
				position: relative;
				top: 10px;
				display: block;
				margin: 0 auto;
			}
		}
	}

	&__doc {
		position: relative;
		width: 4 / $cols * 100vw;
		height: 270px;
		padding: 20px 30px 20px 20px;
		background-color: $color-brand;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 5px;
			height: 100%;
			background-color: $color-brand-light;
		}

		&__title {
			@extend %antialiased;
			@extend %grumpy;
			display: block;
			font-size: 20px;
			line-height: 30px;
		}

		&__type,
		&__pages {
			position: absolute;
			bottom: 20px;
			font-size: 14px;
			color: #6c67ac;
		}

		&__type {
			left: 20px;
		}

		&__pages {
			right: 20px;
		}

		&__overlay {
			@extend %transitionLinks;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.25);
			border: 2px solid $color-white;
			opacity: 0;
		}

		&__btn {
			position: absolute;
			bottom: 12px;
			right: 12px;
			display: block;
			width: 40px;
			height: 40px;
			background-color: $color-white;

			.icon {
				position: relative;
				top: 11px;
				display: block;
				margin: 0 auto;
			}
		}

		&:hover {
			.carousel__doc__overlay {
				opacity: 1;
			}
		}
	}

	/* Modifiers */

	&--writer {
		.carousel__item--text {
			width: 9 / $cols * 100vw;
			// padding-right: 3 / $cols * 100vw;
		}
	}
}


/* When carousel is in full-screen mode. */

.is-carousel-full {
	.panel.is-active {
		.panel__btn {
			&--left {
				transform: rotate(-90deg) translateY(-100%);
			}

			&--top {
				transform: translateY(-100%);
			}

			&--bottom {
				transform: translateY(100%);
			}
		}
	}

	.carousel {
		margin-left: -2 / $cols * 100vw;
	}

	.carousel__item {
		max-width: 27 / $cols * 100vw;
		width: 27 / $cols * 100vw;
		opacity: 0.25;

		&:hover {
			.carousel__full {
				opacity: 0;
			}
		}

		&.is-active {
			opacity: 1;
		}
	}

	.carousel__img {
		max-height: 60vh;
	}

	.carousel__full {
		opacity: 0;
		pointer-events: none;
	}

	.carousel__viewer {
		bottom: 40px;
		left: 14 / $cols * 100vw;
	}

	.carousel__full {
		opacity: 0;
		pointer-events: none;
	}

	.carousel__close {
		opacity: 1;
	}

	.carousel__btn {
		&--prev {
			left: 0;
		}
	}
}
