.icon-arrow-left {
	width: 40px;
	height: 12px;
	fill: $color-white;
}

.icon-arrow-right {
	width: 40px;
	height: 12px;
	fill: $color-white;
}

.icon-close {
	width: 20px;
	height: 20px;
}

.icon-text {
	width: 30px;
	height: 39px;
}

.icon-full {
	width: 20px;
	height: 20px;
}