.slideshow {
	position: relative;
	width: 720px;
	height: 480px;
	margin: 0 auto;

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&.is-active {
			z-index: 2;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}
}